<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770179814695-aeouck0mmugm3feifaah51a0p2qmmllr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770179814695-aeouck0mmugm3feifaah51a0p2qmmllr</string>
	<key>API_KEY</key>
	<string>AIzaSyCHZdg_CbTK3T4RxmGky9FLWvCn0ooPYzg</string>
	<key>GCM_SENDER_ID</key>
	<string>770179814695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simBank</string>
	<key>PROJECT_ID</key>
	<string>simbank-877a1</string>
	<key>STORAGE_BUCKET</key>
	<string>simbank-877a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770179814695:ios:21516f0f456560bb25c502</string>
</dict>
</plist>